@base-color: black;
@border-color: #c0c0c0;
@border-width: 0.2mm;

@pageWidth:21cm;
@pageHeight:29.7cm;

@cardWidth: 50mm;
@cardHeight: 50mm;

@pageMarginHoriz: (@pageWidth - 4 * @cardWidth - 0.1mm) / 2;
@pageMarginVertical: (@pageHeight - 5 * @cardWidth - 0.1mm) / 2;



.withBorder(@border-color: @border-color, @border-width: @border-width) {
    box-shadow: 
        @border-width 0 0 0 @border-color, 
        0 @border-width 0 0 @border-color, 
        @border-width @border-width 0 0 @border-color,   /* Just to fix the corner */
        @border-width 0 0 0 @border-color inset, 
        0 @border-width 0 0 @border-color inset;
}


    body   {
        font-family:'Quicksand';
    }

   
body {
    margin:0 auto;
    width:@pageWidth;
    color:@base-color;
}

/*
//@media print {
.pagebreak {
    page-break-after: always;
}
//}

.pagebreak {
    clear:both;
    width:0;
    height:0;
}
*/
.pagebreak {
    display:none;
    page-break-before: always;
}



.page {
    float:left;
    width:@pageWidth - 2 * @pageMarginHoriz;
    height:@pageHeight - 2 * @pageMarginVertical;
    padding:0;
    margin: @pageMarginVertical @pageMarginHoriz @pageMarginVertical @pageMarginHoriz;    
    position: relative;
    //.withBorder();
    page-break-after: always;
}


.card {
//    border-bottom: 0.2mm gray solid;
    width: @cardWidth;
    height: @cardHeight;
    float:left;
    position:relative;
    .withBorder();
    overflow: hidden;
}

.background {
    display: block;
    position: absolute;
    top:1mm;
    left:1mm;
    bottom: 1mm;
    right:1mm;
}

.activity .background {
    background-color: rgb(190, 190, 190);
  }  

@skillSize: 10mm;
@skillMargin:-0.4 * @skillSize;


.activity .name {
    display:block;
    position: absolute;
    left: @skillMargin + @skillSize + 2mm;
    right: @skillMargin + @skillSize + 2mm;
    text-align: center;
    font-size: 15pt;
    font-weight:bold;
    color:white;
    top: (@cardHeight - 15mm) / 2;
}

.sheep .name {
    display:block;
    position: absolute;
    width:100%;
    top: @skillSize + @skillMargin + 1mm;
    text-align: center;
    font-size: 14pt;
    font-family: "Vidaloka";
}

.card:nth-child(even).sheep .visual {
    width:100%;
    height:100%;
    transform: scaleX(-1);
}

.skill {
    display: block;
    position: absolute;
    width:@skillSize;
    height:@skillSize;
}

.skill img {
    width: 100%;
    height:100%;
}

.skill.left {
    left: @skillMargin;
    top: (@cardHeight - @skillSize) / 2;
    transform: scaleY(-1) rotate(90deg);
}

.skill.top {
    top: @skillMargin;
    left: (@cardWidth - @skillSize) / 2;
    transform: scaleX(-1) rotate(180deg);
}

.skill.right {
    right: @skillMargin;
    top: (@cardHeight - @skillSize) / 2;
    transform: rotate(-90deg);
}

.skill.bottom {
    bottom: @skillMargin;
    left: (@cardWidth - @skillSize) / 2;
}

.needsText {
    display: block;
    position: absolute;
    width:100%;
    height:100%;
}

.needLabel {
    display: none;
}

@needWidth: 8mm;
@needMargin: 10mm;


.need {
    position:absolute;
    width:@needWidth;
    font-size: 21pt;
}


.need.posun {
    top:30.5mm;
    left:@cardWidth - @needMargin;
    text-align:left;
}

.need.pratelstvi {
    top: 34mm;
    left:@needMargin - @needWidth;
    text-align: right;
}

.need.presah {
    top: 37.5mm;
    left:@cardWidth - @needMargin;
    text-align: left;
}

.visual img {
    display:block;
    width:100%;
    height:100%;
    position: absolute;
}

.letter {
    position: absolute;
    right: 2mm;
    bottom: 1mm;
    font-size: 6pt;
    color:white;
}

.card:nth-child(6n +3) .hlava, .card:nth-child(6n +4) .hlava,
.card:nth-child(6n +3) .usi, .card:nth-child(6n +4) .usi,
.card:nth-child(6n +3) .pusa, .card:nth-child(6n +4) .pusa,
.card:nth-child(6n +3) .oci, .card:nth-child(6n +4) .oci
 {
    transform: rotate(22deg) translate(-2.5mm, -2mm);
}

.losovatko .letter {
    color:black;
}

.losovatko img {
    display:block;
    position: absolute;
    width: 34mm;
    height:34mm;
    top:16mm;
    left:8mm
}