@base-color: black;
@border-color: #c0c0c0;
@border-width: 0.5mm;

@pageWidth:15.001cm;
@pageHeight:28cm;
@pageMargin:0cm;

@cardWidth: 50mm;
@cardHeight: 70mm;

@topicSize: 20mm;
@topicMarginTop: 7mm;

@contentMarginHorizontal: 7mm;

@depthMarginTop: 0mm;
@depthMarginLeft: @contentMarginHorizontal;
@depthFontSize: 7mm;

@nameMarginLeft: @depthMarginLeft + 8mm;
@nameMarginTop: 1.5mm;
@nameFontSize: 8pt;

@effectMarginBottom: 6.5mm;
@effectFontSize: 6pt;

@effectImageSize: 7mm;

@effectTextMarginBottom: 1mm;

@followupsMarginBottom: 5mm;
@followupsSize: 8mm;
@followupMargin: 1.5mm;

@locationTagMarginTop: 10mm;
@locationTagFontSize: 7mm;

.withBorder(@border-color: @border-color, @border-width: @border-width) {
    box-shadow: 
        @border-width 0 0 0 @border-color, 
        0 @border-width 0 0 @border-color, 
        @border-width @border-width 0 0 @border-color,   /* Just to fix the corner */
        @border-width 0 0 0 @border-color inset, 
        0 @border-width 0 0 @border-color inset;
}


@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

    body   {
        font-family:'themix';
    }

    .italicFont {
        font-family:'themix';
        font-style:italic;
    }

    .boldFont { 
        font-family:'skautbold';
        //font-weight: bold;
    }


body {
    margin:0 auto;
    width:@pageWidth;
    color:@base-color;
}

/*
//@media print {
.pagebreak {
    page-break-after: always;
}
//}

.pagebreak {
    clear:both;
    width:0;
    height:0;
}
*/
.pagebreak {
    display:none;
}

.page {
    float:left;
    width:@pageWidth - 2 * @pageMargin;
    height:@pageHeight - 2 * @pageMargin;
    padding:0;    
    position: relative;
    .withBorder();
    page-break-after: always;
}


.card {
//    border-bottom: 0.2mm gray solid;
    width: @cardWidth;
    height: @cardHeight;
    float:left;
    position:relative;
    .withBorder();
    overflow: hidden;
}

.page:nth-child(4n+3) .card{
    float:right;
}


.fullCardImg {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
}

.topic {
    display:block;
    position: absolute;
    left: (@cardWidth - @topicSize) / 2;
    top: @topicMarginTop;
    width: @topicSize;
    height: @topicSize;
}

.locationTag {
    display:block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: @locationTagMarginTop;
    font-size: @locationTagFontSize;
    font-family: "skautbold";
}

.depth {
    display:block;
    position: absolute;
    left: @depthMarginLeft;
    text-align: left;
    font-size: @depthFontSize;
    font-family: "skautbold";
    top: @topicMarginTop + @topicSize + @depthMarginTop;
}

.name {
    display:block;
    position: absolute;
    left: @nameMarginLeft;
    right: @contentMarginHorizontal;
    text-align: left;
    font-size: @nameFontSize;
    font-family: "skautbold";
    top: @topicMarginTop + @topicSize + @nameMarginTop;
}

.location .name {
    left: @contentMarginHorizontal;
    text-align:center;
    top: @topicMarginTop + @topicSize + @nameMarginTop - 2mm;
}

.content() {
    display:block;
    position: absolute;
    left: @contentMarginHorizontal;
    right: @contentMarginHorizontal;
}

.effect {
    .content();
    bottom: @effectMarginBottom + @effectTextMarginBottom + @followupsMarginBottom + @followupsSize;
}

.effectText {
    .content();
    bottom: @effectTextMarginBottom + @followupsMarginBottom + @followupsSize;
    font-size: @effectFontSize;
    font-style: italic;
}

.location .effectText {
    .content();
    bottom:  @followupsMarginBottom + 2mm;
    font-size: @effectFontSize;
}


.followups {
    .content();
    bottom: @followupsMarginBottom;
}


.followup {
    display:block;
    float:left;
    position: relative;
    width: @followupsSize;
    height: @followupsSize;
    margin-left: @followupMargin;
    margin-right: @followupMargin;
}


.effectElement() {
    display:block;
    float:left;
    position:relative;
}

.effectSign {
    .effectElement();
    font-family: "skautbold";
    font-size:13pt;
}

.targetFriend {
    .effectElement();
    width: @effectImageSize + 3mm;
}

.targetBoth {
    .effectElement();
    width: @effectImageSize + 4mm;
    margin-right: 2mm;
    margin-top:-2mm;
}


.gainFocus, .gainFocusFirst, .gainCard, .gainCardFirst {
    .effectElement();
    width: @effectImageSize * 0.9;
    margin-left: -(@effectImageSize * 0.66); 
}

.gainCard {
    margin-left: -(@effectImageSize * 0.5); 
}

.gainFocusFirst, .gainCardFirst {
    margin-left : 0;
}

.conditionalEffect {
    clear:both;
}

.conditionalEffectHeader {
    .effectElement();
    width: @effectImageSize;
}
