@base-color: black;
@border-color: #c0c0c0;
@border-width: 0.5mm;

@pageWidth:20.1cm;
@pageHeight:28cm;
@pageMargin:0cm;

@cardWidth: 50mm;
@cardHeight: 50mm;

@skillSize: 8mm;
@skillMargin:3mm;

@nameFontSize: 14pt;

.withBorder(@border-color: @border-color, @border-width: @border-width) {
    box-shadow: 
        @border-width 0 0 0 @border-color, 
        0 @border-width 0 0 @border-color, 
        @border-width @border-width 0 0 @border-color,   /* Just to fix the corner */
        @border-width 0 0 0 @border-color inset, 
        0 @border-width 0 0 @border-color inset;
}


@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'skautbold';
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
         url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

    body   {
        font-family:'themix';
    }

    .italicFont {
        font-family:'themix';
        font-style:italic;
    }

    .boldFont { 
        font-family:'skautbold';
        //font-weight: bold;
    }


body {
    margin:0 auto;
    width:@pageWidth;
    color:@base-color;
}

/*
//@media print {
.pagebreak {
    page-break-after: always;
}
//}

.pagebreak {
    clear:both;
    width:0;
    height:0;
}
*/
.pagebreak {
    display:none;
}

.page {
    float:left;
    width:@pageWidth - 2 * @pageMargin;
    height:@pageHeight - 2 * @pageMargin;
    padding:0;    
    position: relative;
    .withBorder();
    page-break-after: always;
}


.card {
//    border-bottom: 0.2mm gray solid;
    width: @cardWidth;
    height: @cardHeight;
    float:left;
    position:relative;
    .withBorder();
    overflow: hidden;
}

.activity .name {
    display:block;
    position: absolute;
    left: @skillMargin + @skillSize + 2mm;
    right: @skillMargin + @skillSize + 2mm;
    text-align: center;
    font-size: @nameFontSize;
    font-family: "skautbold";
    top: (@cardHeight - 20mm) / 2;
}

.sheep .name {
    display:block;
    position: absolute;
    left: @skillMargin + 2mm;
    top: @skillMargin + 2mm;
    text-align: left;
    font-size: @nameFontSize;
    font-family: "skautbold";
}


.skill {
    display: block;
    position: absolute;
    width:@skillSize;
    height:@skillSize;
    border: 1px gray solid;
}

.skill.left {
    left: @skillMargin;
    top: (@cardHeight - @skillSize) / 2
}

.skill.top {
    top: @skillMargin;
    left: (@cardWidth - @skillSize) / 2
}

.skill.right {
    right: @skillMargin;
    top: (@cardHeight - @skillSize) / 2
}

.skill.bottom {
    bottom: @skillMargin;
    left: (@cardWidth - @skillSize) / 2
}